		{{ range . }} 	
			<div class="block2">
				<div class="photoInfoTable">
				  <div class="headerFilm">
					  <a href="{{ .WebURL }}" style="text-decoration: none"  >
							  <h1 class="moviename" itemprop="name">{{ .NameRu }}</h1></a>
						  <span itemprop="alternativeHeadline" style="{{ if not .IsDisplayOrigin }}display:none{{ end }}">{{ .OriginName }}</span>
				  </div>
				  <div class="photoBlock">
					<div class="film-img-box">
							<div class="film-rating" style="background-color: {{ .RatingColor }};">{{printf "%.2f" .Rating}}</div> <!-- #3bb33b > 7 #aaa; -->
							<img src="{{ .PosterUrl }}" alt="{{ .NameRu  }}" itemprop="image" width="205"></img>
					</div>
				  </div>
				  <div class="infoTable">
					<table class="info">
					  <tbody>
					  {{range $key, $val := .InfoTable}}
					  {{ if not $val }}
					  {{else}}
						<tr>
								<td class="type">{{$key}}</td>
						  <td>
								  <div style="position: relative">{{$val}}</div>
						  </td>
						</tr>
						{{end}}
						{{end}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="movie-buttons-container">
				{{ range .Torrents }}
				<button class="torrentbutton" style="" onclick="location.href='{{ .Link }}'">{{ .Type }}</button> 
				{{ end }}
        </div>
      </div>
	  {{ else }}
	  <div class="block2">
			  <p>No torrents found</p>
	  </div>
{{end}}
